
.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}

.header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

/* .main {
  width: 400px;
  height: 250px;
  background-color: white;
} */

.left {
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
  float: left;
} 

.right {
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  float: left;
} 

.footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}

@media screen and (max-width: 767px) {
  .header {
    width: 250px;
  }
  .left {
    width: 150px;
    float: left;
  } 
  .right {
    width: 100px;
    float: left;
  } 

  .footer {
    width: 250px;
  }
}

@media screen and (max-width: 479px) {
  .header {
    width: 150px;
  }
  .left {
    width: 150px;
    float: none;
  } 
  .right {
    width: 150px;
  } 

  .footer {
    width: 150px;
  }

}